<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>&t=Bloomsource" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=The best advice, lessons, and tips to help you build your startup - all for free&hashtags=entrepreneurship,startup" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=Bloomsource&summary=&source=<%= request.original_url %>" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  <li><a href="mailto:?subject=Bloomsource&body=:%20<%= request.original_url %>" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
</ul>